# <font color='OrangeRed'><center>Exercícios - Interpolação</center></font>

### Exercício 01

Faça um programa que solicite o nome do usuário, em seguida, usando a interpolação, imprima o nome digitado, exemplo:

**Entrada:**   
_Digite o seu nome:_  
**Saída:**  
_Meu nome é Ana_

In [3]:

nome = input("digite o seu nome:")

print(f"meu nome é {nome}")

meu nome é eduarda

---

### Exercício 02

Usando a interpolação, substitua o texto **var** pelo valor da variável **var**

In [25]:
# Variável
var = 'Programação em Python'

# Texto
print(f'Estou fazendo o curso {var}')

Estou fazendo o curso Programação em Python

---

### Exercício 03

Faça um programa que solicite o nome do prato preferido do usuário, em seguida, usando a interpolação, imprima o nome do prato, exemplo:

**Entrada:**   
_Qual é o seu prato favorito:_   
**Saída:**  
_Meu prato preferido é lasanha_

In [5]:


prato = input("qual seu prato preferido?")

print(f"meu prato preferido é {prato}")

meu prato preferido é lasanha

---

### Exercício 04

Faça um programa que solicite a data de hoje, em seguida, usando a interpolação, imprima a data informada, exemplo:

**Entrada:**   
_Digite a data de hoje:_  
**Saída:**  
_A data de hoje é 19/05/2003_

In [7]:

dia = 19
mes = 5
ano = 2003

print(f"a data de hoje é {dia}/{mes}/{ano}")

a data de hoje é 19/5/2003

---

### Exercício 05

Faça um programa que solicite ao usuário digitar um número, em seguida, usando a interpolação, imprima o valor digitado, exemplo

**Entrada:**   
_Digite um número:_  
**Saída:**  
_O número digitado foi: 5_

In [10]:

num = input("digite um numero")


print(f"o numero digitado foi {num}")

o numero digitado foi 5

---

### Exercício 06

Usando a interpolação, substitua o texto **var** pelo resultado da soma das variáveis **a** e **b**

In [11]:
a = 7
b = 8

print(f'A soma de a + b é: {a + b }')

A soma de a + b é: 15

---

### Exercício 07

Usando a interpolação, substitua o texto **var** pelo resultado da subtração das variáveis **c** e **d**

In [12]:
c = 60
d = 25

print(f'A subtração de c - d é: {c - d}')

A subtração de c - d é: 35

---

### Exercício 08

Usando a interpolação, substitua os **textos** das variáveis var1, var2 e var3 pelos valores das **variáveis** var1, var2 e var3

In [2]:
cor1 = 'Vermelho'
cor2 = 'Verde'
cor3 = 'Azul'

print(f'''Cores:
var1: {cor1}
var2: {cor2}
var3: {cor3}
''')

Cores:
var1: Vermelho
var2: Verde
var3: Azul

---

### Exercício 09

Crie o algoritmo abaixo:  
1. Crie as variáveis: **var_nome**, **var_cidade** e **var_estado**  
1. Atribua algum valor a essas variáveis  
1. Usando a interpolação, substitua os valores dos **textos** pelos valores das **variáveis** criadas por você

In [3]:
nome = 'eduarda'
cidade = 'votorantim'
estado = 'sao paulo'


print(f'''CADASTRO:
Nome: {nome}
Cidade: {cidade}
Estado: {estado}
''')

CADASTRO:
Nome: eduarda
Cidade: votorantim
Estado: sao paulo

---

### Exercício 10

Crie o algoritmo abaixo:  
1. Solicite o nome do usuário  
1. Solicite a idade do usuário  
1. Usando a interpolação, imprima o nome e a idade fornecida, exemplo:

**Entrada:**   
_Digite o seu nome:_  
_Digite a sua idade:_  
**Saída:**  
_Pedro tem 21 anos!_

In [15]:
nome = input("digite seu nome:")
idade = input("digite a sua idade:")

print(f" {nome} tem {idade} anos de idade")

 eduarda tem 21anos de idade

---

### Exercício 11

Faça o arredondamento do número abaixo deixando apenas 2 casas decimais, em seguida, usando a interpolação, substituia o texto **var** pelo valor da variável **var**

In [6]:
total = 129.99451654
round(total,2) #só assim vai



print(f" o valor total da sua compraq foi de {total:.2f}")

 o valor total da sua compraq foi de 129.99

---

### Exercício 12

Faça o arredondamento do número abaixo deixando apenas 3 casas decimais, em seguida, usando a interpolação, substituia o texto **var** pelo valor da variável **var**

In [10]:
corredores = 0.8754321

print(f" A diferença entre os corredores foi de apenas {round(corredores, 3)}")

 A diferença entre os corredores foi de apenas 0.875

---

### Exercício 13

Faça o arredondamento do número abaixo deixando apenas 1 casa decimal, em seguida, usando a interpolação, substituia o texto **var** pelo valor da variável **var**

In [11]:
metros = 0.629874



print(f" A piscina tem apenas {round(metros,2)} metros de profundidade")

 A piscina tem apenas 0.63 metros de profundidade

---

### Exercício 14

Crie o algoritmo abaixo:  
1. Solicite o nome do usuário  
1. Solicite a profissão do usuário  
1. Usando a interpolação, imprima o nome e a profissão fornecida, exemplo:

**Entrada:**   
_Digite o seu nome:_  
_Digite a sua profissão:_  
**Saída:**  
_João é enfermeiro._

In [21]:
nome = input("digite seu nome:")
profisao = input("digite a sua profissão:")

print(f" {nome} é {profisao}")

 eduarda  é ti

---