# <font color='OrangeRed'><center>Exercícios - Listas</center></font>

### Exercício 01

Imprima o quarto item da lista de frutas.

In [ ]:
frutas = ['Maçã', 'Banana', 'Jaca', 'Melão', 'Abacaxi']


print(frutas[0])
print(frutas[1])
print(frutas[2])
print(frutas[3])
print(frutas[4])

---

### Exercício 02

Imprima o primeiro item da lista de números.

In [ ]:
numeros = [1, 2, 3, 4, 5]

print(numeros[0])

---

### Exercício 03

Altere o valor de 5 para -5 na lista de números.

In [ ]:
numeros = [-1, -2, -3, -4, 5]

---

### Exercício 04

Use um método de lista para adicionar o valor 'Laranja' no final da lista de frutas.

In [ ]:
frutas = ['Maçã', 'Banana', 'Jaca', 'Melão', 'Abacaxi']



frutas.append("laranja")

print(frutas)

---

### Exercício 05

Use um método de lista para inserir 'Limão' como segundo item na lista de frutas sem alterar o valor dos demais itens.

In [ ]:
frutas = ['Maçã', 'Banana', 'Jaca', 'Melão', 'Abacaxi']


frutas.insert(1, "Limão")

print(frutas)

---

### Exercício 06

Use um método de lista para inserir o número 4 como quarto item na lista de números sem alterar o valor dos demais itens.

In [ ]:
numeros = [1, 2, 3, 5, 6, 7]


numeros.insert(4, '4')
print(numeros)

---

### Exercício 07

Use um método de lista para remover o item 'Banana' da lista de frutas.

In [ ]:
frutas = ['Maçã', 'Banana', 'Jaca', 'Melão', 'Abacaxi']

frutas.remove('Banana')

print(frutas)

---

### Exercício 08

Use um método de lista para remover o número -2 e -6, sendo um de cada vez, da lista de números.

In [ ]:
numeros = [1, 2, -2, 3, 4, 5, 6, -6, 7]

numeros.remove(-2)
numeros.remove(-6)

print(numeros)

---

### Exercício 09

Use uma função para retornar quantos elementos existem na lista abaixo.

In [ ]:
numeros = [1, 2, 3, 4, 5, 6, 7]


print(len(numeros))

---

### Exercício 10

Use um método de lista para inverter os itens da lista de frutas.

In [ ]:
frutas = ['Maçã', 'Banana', 'Jaca', 'Melão', 'Abacaxi']

frutas.reverse()
print(frutas)

---

### Exercício 11

Use um método de lista para inverter os itens da lista de números.

In [ ]:
numeros = [90, 80, 70, 60, 50, 40, 30, 20, 10]


numeros.reverse()
print(numeros)

---

### Exercício 12

Use um método de lista para organizar a lista de frutas em ordem alfabética.

In [ ]:
frutas = ['Maçã', 'Banana', 'Jaca', 'Melão', 'Abacaxi']

frutas.sort()
print(frutas)

---

### Exercício 13

Faça um programa que peça ao usuário que digite um número inteiro, em seguida converta o valor digitado para o tipo **int**, por fim adicione o número convertido no final da lista.

In [23]:

numero = input("Digite um número inteiro: ")
numeros = [1, 2, 3, 4, 5]


num1 = int(numero)

numeros.insert(len(numeros), num1)


print(numeros)

[1, 2, 3, 4, 5, 5]

---

### Exercício 14

Faça um programa que peça ao usuário que digite um número de 0 a 4, em seguida converta o valor digitado para o tipo **int**, por fim utilize o número informado como índice para retornar o nome de uma fruta da lista de frutas.

In [ ]:

frutas = ["Maçã", "Banana", "Laranja", "Uva", "Melancia"]
numero = int(input("Digite um número de 0 a 4: "))


print(frutas[numero])

---

### Exercício 15

Use uma fução para somar todos os números da lista abaixo

In [22]:
numeros = [5, 7, 8, 6, 4, 3, 2]


print(sum(numeros))

35

---

### Exercício 16

Use um método de lista para retornar o índice da letra 'd' na lista de letras

In [ ]:
letras = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

letras.index('d')

---

### Exercício 17

Crie uma variável chamada **letra3** e atribua a ela a junção das listas **letra1** e **letra2**

In [ ]:
letra1 = ['a', 'b', 'c']
letra2 = ['d', 'e', 'f']

print(letra1 + letra2)

---

### Exercício 18

Crie uma variável chamada **numero4** e atribua a ela a junção das listas **numero1**, **numero2** e **numero3**

In [36]:
numero1 = [1, 2, 3]
numero2 = [4, 5, 6]
numero3 = [7, 8, 9]



numero4 = numero1 + numero2 +numero3

print("numero4 =", numero4)

numero4 = [1, 2, 3, 4, 5, 6, 7, 8, 9]

---

### Exercício 19

Use uma função para retornar o maior valor da lista de números abaixo.

In [ ]:
numeros = [51, 28, 63, 12, 86, 72, 39, 50]

print(max(numeros))

---

### Exercício 20


Use uma função para retornar o menor valor da lista de números abaixo.

In [ ]:
numeros = [51, 28, 63, 12, 86, 72, 39, 50]

print(min(numeros))

---